/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: local('Muli SemiBold'), local('Muli-SemiBold'), url(https://fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-ade3iOCX2yg.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: local('Muli Bold'), local('Muli-Bold'), url(https://fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adYnjOCX2yg.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url(https://fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZXgOCX2yg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-size: 62.5%;
  height: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: initial;
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #e5e5e5;
  padding-bottom: 100px;
}
header {
  width: 100%;
  margin-top: 40px;
  padding: 20px 30px;
}
header h1 {
  font-family: "Muli", sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
}
section {
  background-color: #ffffff;
}
section h3 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  padding: 15px 20px;
}
section img {
  width: 100%;
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
}
.details {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  font-family: "Muli", sans-serif;
}
.details div {
  width: 50%;
  padding: 15px 0 15px 20px;
  text-align: left;
}
.details div:first-child {
  font-weight: 900;
}
.details ul li {
  line-height: 2.5rem;
}
.one-third {
  width: calc(40% - 40px);
  height: auto;
}
.two-thirds {
  width: calc(60% - 40px);
  height: auto;
}
.two-thirds h3 {
  border-bottom: 3px solid #e5e5e5;
  width: 100%;
}
.two-thirds .mid-header {
  border-top: 3px solid #e5e5e5;
  margin-top: 15px;
}
.two-thirds p {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 20px;
}
div.resume {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Muli", sans-serif;
  padding-top: 30px;
}
div.resume div.info-section {
  width: 25%;
  padding-left: 20px;
  text-align: left;
}
div.resume div.info-section ul li {
  line-height: 2.5rem;
}
div.resume div.info-section:nth-child(odd) {
  font-weight: 900;
}
div.resume .fa-star {
  color: #ffae00;
}
